.priemListLevelName{width: 100%;display: inline-block;background-color: aliceblue;text-align: center;padding: 5px;}
.priemListRow{display:table-row;}
.priemListTable{width: 100%;overflow:auto;}
.priemListTableName{display: inline-block;}
.priemListCell{display:table-cell;border: solid 1px #80808038;padding:5px;}
.priemListEduName{text-align: left;background-color: #8080800a;width: 100%;display: inline-block;font-size: 1.1em;font-weight: 600; padding: 5px;}
.priemListEduName div{font-size:0.8em;}
.priemListTable{background: url(/local/common/icons/table.png)  no-repeat 100%; background-size: 1em;background-position: left; padding-right: 1em;    padding-left: 1.2em;background-position-y: top;}
.priemListfindInfo{background-color: #f9f9f9;padding: 10px;line-height: 0.5em;margin: 0px 16px 17px 16px;}
.numberCell{text-align:center;}

.priemListInfo{vertical-align: super;font-size: 10px;font-weight: 600;color: blue;font-style: italic; padding: 2px; font-family: times;}
.priemListfind{position: relative;height: 1em;width: 100%;}

.priemListfind div {position: absolute;width: 1em;height: 1em;padding: 4px;}
.priemListfind div img {width: 1.3em;height: 1.3em;}
.priemListfind div:nth-child(1) {width: calc(100% - 30px);position: absolute;left: 0;top: 0;}
.priemListfind div:nth-child(1) input {width: 100%;font-size: 16px;}
.priemListfind div:nth-child(2) {right: 30px;    top: 3px;}
.priemListfind div:nth-child(3) {width: 1.3em;height: 1.3em;right:-10px;}
.priemListRowCaption{height: 4em;display:table-row;z-index: -1;width:100%;}
.priemListRowCaption > div {position: relative;display:table-cell;}
.priemListRowCaption > div >div{min-width: 50em;position: absolute;height: 4em;text-align: left;line-height: 1.5em;padding-top:5px;padding-left: 5px;color: royalblue;font-size: 1.2em;}
.priemListTableBody{font-size: 0.9em;padding: 0 0 1em 0;margin-top: 10px;overflow: auto;max-height: 50vh;height: auto;width: 100%;margin-left:0;}

.priemListTableBody .priemListRow:first-child .priemListCell{vertical-align: middle;padding: 5px;}
.priemListTableBody .priemListRow:first-child .priemListCell:nth-child(2){min-width: 8em;}

.priemListTableBody .priemListRow:nth-child(n + 2) .priemListCell:nth-last-child(-n+2){font-size:.9em;}
.priemListTableBody .priemListRow:nth-child(n + 2) .priemListCell:nth-child(1){text-align:center;}
/*.priemListTableBody .priemListRow:nth-child(n + 2) .priemListCell:nth-last-child(6){background-color: #fff8dc2e;border-left: #11111170 solid thin;border-right: #0000005c solid thin;}*/
.mark{position: relative; }
.mark::before{content:"";position:absolute;top:0;right:0;border-top-width:0px;border-right-width:6px;border-bottom-width:6px;border-left-width:6px;border-style:solid;border-color:transparent #f00 transparent transparent;cursor:help;} 
.priemListTableBody .priemListRow:first-child {text-align:center;vertical-align: middle;padding: 10px;font-size:.9em;position:sticky;top:0;left:0;background: #f5f5f5;z-index: 100;}