.spandate {background: url(/bitrix/templates/asmu/icons/document.png)  no-repeat 100%; padding-left: 1.8em;background-size: 1em;background-position: left; padding-right: 2em;}
.divlevel1{margin-left:1em;}
.divlevels h2{margin-left:-3em;}
.divlevel2{margin-left:1em;}
.divlevels h3{margin-left:-2em;}
.divlevel3{margin-left:1em;}
.divlevels h4{margin-left:-1em;}
.divlevels div {margin-top:5px;padding-bottom: .2em;}
