.studperevod{min-width: 800px;border: solid thin lightgray;border-collapse: collapse;font-size:.85em;}
.studperevod th {border: solid thin lightgray;font-weight: normal;padding: 3px;}
.studperevod thead th {background-color: #b0b0b01a}
.studperevod tbody th {background-color: #f4feff;}
.studperevod td {border: solid thin lightgray;padding: 3px;}
.studperevod td:nth-of-type(n+3) {text-align:center;}
.studperevod tbody td:nth-of-type(2) span:nth-of-type(2) {font-size: 0.9em;color:blue;}
/*.spandate {background: url(/bitrix/templates/asmu/icons/document.png)  no-repeat 100%; padding-left: 1.8em;background-size: 1em;background-position: left; padding-right: 2em;}*/